<ion-view view-title="HITACHI VFD">
<div class="bar bar-subheader">
	<h2 class="title">Videos</h2>
</div>
  <ion-content scroll="true" overflow-scroll="true" class="padding has-subheader">
    <ion-list>
        <div class="item item-divider">SJ-P1 Run Command Source</div>
        <div class="list card">
            <ion-item>
                <div class="item item-image">
                    <a ui-sref="tab.vfdrcs"><img src="img/v_3.jpg"></a>
                </div>
            </ion-item>
        </div>
        <div class="item item-divider">SJ-P1 Motor Data</div>
        <div class="list card">
            <ion-item>
                <div class="item item-image">
                    <a ui-sref="tab.vfdmd"><img src="img/v_4.jpg"></a>
                </div>
            </ion-item>
        </div>
        <div class="item item-divider">SJ-P1 Speed Reference </div>
        <div class="list card">
            <ion-item>
                <div class="item item-image">
                    <a ui-sref="tab.vfdsr"><img src="img/v_5.jpg"></a>
                </div>
            </ion-item>
        </div>
        
        <div class="item item-divider">VFD Basics WJ200, NES1, SJ700D</div>
        <div class=" list card">
            <ion-item>    
                <div class="item item-image">
                    <a ui-sref="tab.vfdbasics"><img src="img/basics_thumbnail.jpg"></a>
                </div>
            </ion-item>
        </div>
        <div class="item item-divider">VFD Overview WJ200, NES1, SJ700D</div>
        <div class="list card">
            <ion-item>
                <div class="item item-image">
                    <a ui-sref="tab.vfdoverview"><img src="img/vfd_thumbnail.jpg"></a>
                </div>
            </ion-item>
        </div>
        <div class="item item-divider">Dynamic Braking WJ200, NES1, SJ700D</div>
        <div class="list card">
            <ion-item>
                <div class="item item-image">
                    <a ui-sref="tab.vfdbraking"><img src="img/braking_thumbnail_2.png"></a>
                </div>
            </ion-item>
        </div>
        <div class="item item-divider">PID Control WJ200, NES1, SJ700D</div>
        <div class="list card">
            <ion-item>
                <div class="item item-image">
                    <a ui-sref="tab.vfdpid"><img src="img/pid_thumbnail_2.png"></a>
                </div>
            </ion-item>
        </div>

        <div class="item item-divider">
            Still need help?
        </div>
        <div class="support-items">
                <a class="item item-icon-right" href="mailto:inverterinfo@hal.hitachi.com" target="_blank">
                    <i class="icon ion-ios-email-outline"></i>
                    Email: inverterinfo@hal.hitachi.com
                </a>
                <a class="item item-icon-right" href="tel:+1-980-500-7141" target="_blank">
                    <i class="icon ion-ios-telephone-outline"></i>
                    Phone: +1-980-500-7141
                </a>
        </div>
    </ion-list>
  </ion-content>
</ion-view>