<ion-view view-title="HITACHI VFD">
    <div class='bar bar-subheader'>
      <h2 class="title">Guides</h2>
    </div>
  <!-- ///////////////////////////
  Quick Reference Guide for NE-S1 
  ///////////////////////////////--> 
    <ion-content class="padding has-subheader">
      <!-- GuideCtrl to open hyperlink in device browser, not in app -->
      <!-- <a href="#" style="text-decoration:none" ng-controller="GuideCtrl" ng-click="openInExternalBrowser()"> -->
      <!-- <a href="#" style="text-decoration:none" onclick="window.open('img/nes1guide.pdf', '_blank', 'EnableViewPortScale=yes'); return false;">
        <ion-item class="list card row">
            <div class="item item-image col col-25">
              <img src="img/NES1.jpg">
            </div>
            <div class="col-center">
              <h2>NE-S1 Series <br>Quick Reference</h2>
            </div>
        </ion-item>
      </a> -->
    
      <!-- ///////////////////////////
      Quick Reference Guide for 
      ///////////////////////////////-->
      <a href="#" style="text-decoration:none" onclick="window.open('http\://www.hitachi-america.us/ice/sites/default/files/support/Hitachi_QuickStartGuide_P1_Side.pdf?WT.ac=ice_mm_acdin_supot_Quick_Start_Guide_SJ-P1', '_system', 'location=yes'); return false;">
        <ion-item class="list card row">
            <div class="col-center col-75">
              <h2> SJ-P1 <br>Quick Start Guide</h2>
            </div>
            <div class="col-center col-25">
              <image src="img/pdf-icon.png">
            </div>
        </ion-item>
      </a>
      <!-- ///////////////////////////
      Quick Reference Guide for 
      ///////////////////////////////-->
      <a href="#" style="text-decoration:none" onclick="window.open('http\://www.hitachi-america.us/ice/sites/default/files/case-studies/P1-BasicGuide-NT2511BX-1.pdf', '_system', 'location=yes'); return false;">
        <ion-item class="list card row">
            <div class="col-center col-75">
              <h2> SJ-P1 <br>Basic Guide</h2>
            </div>
            <div class="col-center col-25">
              <image src="img/pdf-icon.png">
            </div>
        </ion-item>
      </a>
      <!-- ///////////////////////////
      Quick Reference Guide for 
      ///////////////////////////////-->
      <a href="#" style="text-decoration:none" onclick="window.open('http\://www.hitachi-america.us/ice/sites/default/files/supportdocs/Hitachi_SJP1_SinglePhaseFlyer_FINAL1_nocrop.pdf', '_system', 'location=yes'); return false;">
        <ion-item class="list card row">
            <div class="col-center col-75">
              <h2> SJ-P1 <br>Brochure</h2>
            </div>
            <div class="col-center col-25">
              <image src="img/pdf-icon.png">
            </div>
        </ion-item>
      </a>
      <!-- ///////////////////////////
      Quick Reference Guide for 
      ///////////////////////////////-->
      <a href="#" style="text-decoration:none" onclick="window.open('http\://www.hitachi-america.us/ice/sites/default/files/supportdocs/IVMS Flyer 11.29_1.pdf', '_system', 'location=yes'); return false;">
        <ion-item class="list card row">
            <div class="col-center col-75">
              <h2> SJ-P1 IVMS <br>Brochure</h2>
            </div>
            <div class="col-center col-25">
              <image src="img/pdf-icon.png">
            </div>
        </ion-item>
      </a>
    <!-- ///////////////////////////
    Quick Reference Guide for WJ200 
    ///////////////////////////////--> 
      <!-- GuidesCtrl to open hyperlink in device browser, not in app -->
      <!-- <a href="#" style="text-decoration:none" ng-controller="GuidesCtrl" ng-click="openInExternalBrowser()"> -->
        <a href="#" style="text-decoration:none" onclick="window.open('http\://www.hitachi-america.us/ice/sites/default/files/support/Hitachi_QuickStartGuide_WJ200_Side.pdf?WT.ac=ice_mm_acdin_supot_Quick_Start_Guide_WJ200', '_system', 'location=yes'); return false;">
          <ion-item class="list card row">
            <div class="col-center col-75">
              <h2>WJ200 Series <br>Quick Reference</h2>
            </div>
            <div class="col-center col-25">
              <image src="img/pdf-icon.png">
            </div>
        </ion-item>
      </a>
      <!-- ///////////////////////////
      Quick Reference Guide for 
      ///////////////////////////////-->
      <a href="#" style="text-decoration:none" onclick="window.open('http\://www.hitachi-america.us/supportingdocs/forbus/inverters/Support/NT3251X.pdf', '_system', 'location=yes'); return false;">
        <ion-item class="list card row">
            <div class="col-center col-75">
              <h2> WJ200 Series <br>Quick Reference</h2>
            </div>
            <div class="col-center col-25">
              <image src="img/pdf-icon.png">
            </div>
        </ion-item>
      </a>
      <!-- ///////////////////////////
      Quick Reference Guide for 
      ///////////////////////////////-->
      <a href="#" style="text-decoration:none" onclick="window.open('http\://www.hitachi-america.us/supportingdocs/forbus/inverters/Support/NE-S1 Quick Reference Guide.pdf', '_system', 'location=yes'); return false;">
        <ion-item class="list card row">
            <div class="col-center col-75">
              <h2> NES1 Series <br>Quick Reference</h2>
            </div>
            <div class="col-center col-25">
              <image src="img/pdf-icon.png">
            </div>
        </ion-item>
      </a>
      
      
  
      
      <!-- ///////////////////////////
      Quick Reference Guide for 
      ///////////////////////////////-->
      <a href="#" style="text-decoration:none" onclick="window.open('http\://www.hitachi-america.us/ice/sites/default/files/products/inverter/SJ700D-3_QRG_ENG_20140528.pdf', '_system', 'location=yes'); return false;">
        <ion-item class="list card row">
            <div class="col-center col-75">
              <h2> SJ700(D)<br>Quick Reference Guide</h2>
            </div>
            <div class="col-center col-25">
              <image src="img/pdf-icon.png">
            </div>
        </ion-item>
      </a>

      <div class="list">
          <div class="item item-divider">
            Still need help?
          </div>
          <div class="support-items">
              <a class="item item-icon-right" href="mailto:inverterinfo@hal.hitachi.com" target="_blank">
                  <i class="icon ion-ios-email-outline"></i>
                  Email: inverterinfo@hal.hitachi.com
              </a>
              <a class="item item-icon-right" href="tel:+1-980-500-7141" target="_blank">
                  <i class="icon ion-ios-telephone-outline"></i>
                  Phone: +1-980-500-7141
              </a>
          </div>
      </div>
    </ion-content>
  </ion-view>